<!--
MiniMap Generator by 
OneMap Development Team

This generates embedded
minimap for OneMap Users
-->
<html>
<head>
	<title>OneMap 2.0 Advanced Minimap</title>
	<link rel='icon' type='image/png' href='https://web-static.onemap.sg/images/main/misc/onemapNew_512.png'/>
	<link rel='shortcut icon' type='image/png' href='https://web-static.onemap.sg/images/main/misc/onemapNew_512.png'/>

	<!-- Meta tags -->
	<meta charset='utf-8'/>
	<meta http-equiv='pragma' content='no-cache'/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Minimap styling -->
	<link rel="stylesheet" type='text/css' href="/static/css/mmStyles.css" />

	<!-- Leaflet Script -->
	<script defer type='text/javascript' src="/static/node_modules/leaflet/dist/leaflet.js"></script>
	<script defer type='text/javascript' src="/static/node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
	<script defer type='text/javascript' src="/static/js/Control.FullScreen.js"></script>
	<script defer type='text/javascript' src="/static/js/Leaflet.Control.Custom.js"></script>
	<!-- Leaflet CSS -->
	<link rel="stylesheet" type='text/css' href="/static/node_modules/leaflet/dist/leaflet.min.css"/>
	<link rel="stylesheet" type='text/css' href="/static/node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.css"/>
	<link rel="stylesheet" type='text/css' href="/static/css/Control.FullScreen.css"/>

	<!-- Date and time -->
	<script defer type="text/javascript" src="/static/node_modules/moment/min/moment.min.js"></script>

	<!-- Font awesome icons -->
	<link rel="stylesheet" type='text/css' href="/static/node_modules/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
	<div id='info'></div>
	<div id='mapdiv'></div>
	<script defer type='text/javascript' src='/static/js/amm.js'></script>
</body>
</html>